@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background: #111;
  max-height: 52vh;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
section{
  padding: 0 100px;
  height:100vh;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

}
.home__img {
  position: absolute;
  z-index: var(--z-normal);
  top: 50px;
  left: 50px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
  .home__img img{
    border-radius: 5px;
  }
.box{
  position: relative;
  max-width: 800px;
  padding: 50px;
  background: rgba(255,255,255,.2);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);

}
.box h2{
  margin: 0 0 20px;
  padding: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 48px;

}

.container{
  position: absolute;
  overflow: hidden;
  
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

.row{
  display: inline-flex;
  margin-left: -50px;
  margin-top: -32px;
  overflow: hidden;
}
.row:nth-child(even){
  margin-left: 1px;
}
.hexagon{
  background: #111;
  position: relative;
  height: 110px;
  width: 100px;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}
.hexagon::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.02);
}
.hexagon:hover{
  transition: 0s;
  background: #0f0;
  cursor: alias;
}



.wrapper{
  padding-top: 1800px;
}

.resume{
  width: 850px;
  background: rgba(255,255,255, .2);
  margin: 25px auto;
  display: flex;
  position: relative;

}
.left{
  background: rgb(105,105,105, .5);
  width: 250px;
  padding: 0 20px;
}
.right{
  width: calc(100% - 250px);
}
.title{
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
  color: #9153c9;
  position: relative;
  text-align: right;
  margin-bottom: 15px;
}
.title: before{
  content: "";
  position: absolute;
  top: 35px;
  right: 0;
  width: 50px;
  height: 3px;
  background: #9153c9;

}
.left .icon{
  font-size: 20px;
  color:#9153c9;
}
.left .text{
  font-size: 18px;
}
.contact .li_wrap{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.contact .li_wrap .icon{
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.contact .li_wrap .text{
  width: calc(100% - 50px );
  word-break: break-word;
  color: #fff

}
.pb{
  padding-bottom: 20px;
}
.skills ul, .interests ul{
  list-style: devanagari;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header{
  background: rgb(105,105,105, .5);
  padding: 15px;
  color: #fff;
  height: 180px;
}
.header .name{
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3525af;
}
.header .role{
  font-weight: 200;
  font-size: 20px;  
}
.header .about{
  margin-top: 20px;
  line-height: 26px;
}
.right_inner .education{
  margin-top: 30px;
}
.right_inner .li_wrap{
  display: flex;
  margin-bottom: 15px;
}
.right_inner .li_wrap .date{
  max-width: 100px;
  color: #fff;

}
.right_inner .li_wrap .info{
  width: calc(100% - 125px);
  padding: left:25px;
  position: relative;
}
.right_inner .li_wrap .info_title{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
}
.right_inner .li_wrap .info_com{
  font-weight: 300;
  font-size: 14px;
  margin-top: 3px;
}
.right_inner .li_wrap .info_cont{
  margin-top: 15px;
}
.right_inner .li_wrap .info:before{
  content: "";
  position: absolute;
  top: 3px;
  left:-20px;
  width:10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}


















